header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0 20px 20px;
  }
  
  nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    color: grey;
  }

p {
    color: blue
}
  
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}